.app {
  width: 420px;
  height: 450px;
  background-color: black;
  color: white;
  border-radius: 15%;
  padding: 20px;
}

.display-container {
  font-size: 30px;
  margin-bottom: 5px;
  text-align: right;
}

.displayInput {
  font-size: 35px;
  width: 400px;
  height: 100px;
  text-align: right;
  margin: 5px;
  margin-bottom: 30px;
  text-overflow: ellipsis;
}

.Button {
  font-size: 35px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
.Clear {
  font-size: 35px;
  width: 200px;
  height: 50px;
  border-radius: 50%;
}
.ButtonZero {
  font-size: 35px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
.Operator {
  background-color: orange;
  color: white;
  font-size: 35px;
  width: 100px;
  height: 50px;
  border-radius: 50%;
}
.Equal {
  background-color: purple;
  color: white;
  font-size: 35px;
  width: 200px;
  height: 50px;
  border-radius: 50%;
}